#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /kunden/376913_72202/webseiten/prodax/.htpasswd
#Require valid-user

# PERFORMANCE
## Deflate Compression
<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
</IfModule>

## Assets Cache
<FilesMatch "\.(ico|flv|woff|ttf|jpg|jpeg|png|gif|svg|js|css)$">
    ExpiresActive on
    ExpiresDefault "access plus 1 month"
</FilesMatch>

# SECURITY
Header unset Content-Security-Policy
Header always set Content-Security-Policy "default-src 'self' 'unsafe-inline' https://stats.kleiner-als.de; object-src 'none'; report-uri https://csp.kleiner-als.de;"
# Hilfe: https://report-uri.io/home/generate

Header unset X-Frame-Options
Header always set X-Frame-Options "SAMEORIGIN"
Header unset X-Xss-Protection
Header always set X-Xss-Protection "1; mode=block"
Header unset X-Content-Type-Options
Header always set X-Content-Type-Options "nosniff"
Header unset Referrer-Policy
Header always set Referrer-Policy "no-referrer-when-downgrade"

## force https
#Header unset Strict-Transport-Security
#Header always set Strict-Transport-Security "max-age=31536000;"

#Remove the footer from error pages, which details the version numbers:
ServerSignature Off

# Hide X-Powered-By and Server headers, sent by downstream application servers:
# Note you need both below as the "always" one doesn't work with Jboss for some reason
Header always unset X-Powered-By
Header unset X-Powered-By

# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite

# In some enviroments it's necessary to
# set the RewriteBase to:
#
RewriteBase /

# http to https redirect
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# www redirect
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# block
RewriteRule ^log/(.*) index.php [L]

# kirby cachebuster plugin ## https://github.com/getkirby-plugins/cachebuster-plugin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.(\d+)\.(js|css)$ $1.$3 [L]

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# block all files in the site folder from being accessed directly
# except for requests to plugin assets files
#RewriteRule ^assets/plugins/([a-zA-Z0-9\.\-_%=]+)/(.*)$ site/plugins/$1/assets/$2 [L,N]
#RewriteCond $1 !^plugins/[a-zA-Z0-9\.\-_%=]+/assets/.*
RewriteRule ^site/(.*) index.php [L]

# block direct access to kirby and the panel sources
RewriteRule ^(kirby|panel\/app|panel\/tests)/(.*) index.php [L]

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>

# Additional recommended values
# Remove comments for those you want to use.
#
# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on


########################################################################
################################## SEO #################################
########################################################################

## Alte Webseite
#Redirect 301 /cms/download.php /de